	body{
			background-image: url('media/static.jpg');

		}
		#logo{
			width: 360px;
			height: 329px;
			position: absolute;
			left: 10%;
			top: 20%;
			z-index: -1;
			
		}
		

		.selStyle{
			
			font-size: 28px;
			font-family: 'VT323', monospace;
			border-color: DeepSkyBlue;
			border-style: solid;
			border-width: 6px;
			color: Gold;
			background-color:  DimGray;
			position: relative;
			top: 50%;

		}
		select{
			position: relative;
			left: 0;
		}
		#container{
			width: 1000px;
			position: relative;
			
			
		}
		#playButton{
			position: relative;
			
			bottom: 350px;
			padding: 5px;
			font-size: 14px;
			font-family: 'VT323', monospace;
			color: Gold;
			background-color: DeepSkyBlue;

		}

		#formDiv{
			width: 25%;
			height: 85%;
			z-index: 1;
			background-color: white;
			position: absolute;
			top: 20%;
			left: 95%;
			border-width: 8px;
			border-color: DeepSkyBlue;
			border-style: solid;
			background-color: black;
			color: Gold;
			padding: 10px;
			
		}
		#formDiv p {
			margin-bottom: 10px;
		}

		#formDiv input{
			margin-bottom: 10px;
		}
		#feed-BackDiv{
			background-color: white;
			border-style: solid;
			border-width: 4px;
			border-color: red;
			color: red;
			display: none;
		}
		h1{
			color: Gold;
		}
		h2{
			color: Gold;
		}

		#east{
			position: absolute;
			left: 70%;
			width: 5%;
			top: 30%;
			color: Gold;

		}

		#east2{
			position: absolute;
			color: Gold;
			left: 57%;
			top:30%;
			width: 10%;
		}
	

		#west{
			position: absolute;
			color: Gold;
			width: 5%;
			left: 22.5%;
			top: 30%;

		}


		#west2{
			position: absolute;
			color: Gold;
			left:33%;
			top: 30%;
			width: 10%;
		}

	
		#stockPic{
			position: absolute;
			left: 12.5%;
			top:57%;
		}
		#stockPick2 {
			position: absolute;
			top: 57%;
			left: 52%;
			
		}

		#team{
			position: absolute;
			left: 52%;
			top: 57%;
		}

		#team2{
			position:absolute;
			left: 13.5%;
			top: 56%;
		}


		p{
			margin: 0;
			padding: 0;
			font-family: 'VT323', monospace;
			font-size: 20px;
		}


		#choose {
			margin-left: 10%;
			margin-top: 10%;
		}
