	body{
			background-image: url('media/static.jpg');

		}
		#logo{
			width: 360px;
			height: 329px;
			position: relative;
			left: 30px;
			
		}
		

		.selStyle{
			
			font-size: 24px;
			font-family: 'VT323', monospace;
			border-color: DeepSkyBlue;
			border-style: solid;
			border-width: 3px;
			color: Gold;
			background-color:  DimGray;
			position: relative;
			


		}
		select{
			position: relative;
			left: 0;
		}
		#container{
			width: 1000px;
			position: relative;
			
			
		}
		#playButton{
			position: relative;
			left: 85%;
			top: 80%;
			padding: 5px;
			font-size: 24px;
			font-family: 'VT323', monospace;
			color: Gold;
			background-color: DeepSkyBlue;

		}

		#formDiv{
			width: 25%;
			height: 85%;
			z-index: 1;
			background-color: white;
			position: absolute;
			top: 20%;
			left: 95%;
			border-width: 8px;
			border-color: DeepSkyBlue;
			border-style: solid;
			background-color: black;
			color: Gold;
			padding: 10px;
			
		}
		#formDiv p {
			margin-bottom: 10px;
		}

		#formDiv input{
			margin-bottom: 10px;
		}
		#feedBack{
			background-color: white;
			border-style: solid;
			border-width: 4px;
			border-color: red;
			color: red;
		}
		h1{
			color: Gold;
		}
		h2{
			color: Gold;
		}

		#east{
			position: absolute;
			left: 74%;
			width: 5%;
			top: 28%;
			color: Gold;

		}

		#west{
			position: absolute;
			color: Gold;
			width: 5%;
			left: 25%;
			top: 28%;

		}
		#stockPic{
			position: absolute;
			left: 17%;
			top:56%;
		}
		#stockPick2 {
			position: absolute;
			top: 50%;
			
		}

		#team{
			position: absolute;
			left: 56%;
			top: 56%;
		}

		#team2{
			position:absolute;
			left:17%;
			top: 56%;
		}

		#east2{
			position: absolute;
			color: Gold;
			left: 64%;
			top:28%;
			width: 10%;
		}

		#west2{
			position: absolute;
			color: Gold;
			left:38%;
			top: 28%;
			width: 10%;
		}
		p{
			margin: 0;
			padding: 0;
			font-family: 'VT323', monospace;
			font-size: 20px;
		}
		#opt{
			background-color: green;
		}

	
		#choose {
			margin-left: 10%;
			margin-top: 10%;
		}